[submodule "mongodb"]
	path = mongodb
	url = git://github.com/edelight/chef-mongodb.git
[submodule "git"]
	path = git
	url = git://github.com/opscode-cookbooks/git.git
[submodule "sqlite"]
	path = sqlite
	url = git://github.com/opscode-cookbooks/sqlite.git
